@{
  Layout = "_Layout";
}

<h1>Add a Class</h1>

<form action='/courses' method='post'>
  <label for='courseName'>Name Of Class</label>
  <input id='courseName' name='courseName' type='text'>
  <label for='description'>Description</label>
  <input id='description' name='description' type='text'>
  <button class="btn btn-primary" type='submit'>Add new Class</button>
</form>