@{
  Layout = "_Layout";
}

<div class="container">
<h1>Welcome to the university registrar!</h1>

<a class="btn btn-info" href="/students">Click here to view all students</a>
<a class="btn btn-warning" href="/courses">Click here to view all courses</a>

